<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Talk Real Properties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'properties' %}">Properties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'profiles' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Inbox</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active"  href="{% url 'create-property' %}">Add New</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active"  href="#">Buy</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active"  href="#">Rent</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active"  href="#">Contact</a>
            </li>

            </li>
        </ul>
        <div id="right">
            <form class="form-inline my-2 my-lg-0">
               {% comment %} <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">{% endcomment %}
                <button class="btn btn-outline-primary my-sm-0" type="submit">Login</button>&nbsp;
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</nav>